body, button, input {
  font-family: "Ubuntu", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: #F7F7F7;
  margin: 0;
  padding: 0;
  color: #354052;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  line-height: 1.5;
}

.chart-tooltip {
  border: 1px solid;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 #8a96a0;
  font-size: 10px;
  position: relative;
}

.chart-tooltip__shadow,
.chart-tooltip__arrow {
  border: 1px solid;
  box-shadow: 0 1px 1px 0 #8a96a0;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 100%;
  left: 50%;
  margin: -6px 0 0 -6px;
  transform: rotate(-45deg);
  background: #fff;
  z-index: -1;
}

.chart-tooltip__arrow {
  border: none;
  box-shadow: none;
  z-index: 1;
  margin: -5px 0 0 -5px;
}

dl {
  margin: 0;
  font-size: 15px;
}

dt {
  font-weight: 500;
  margin: 30px 0 20px;
}

dd {
  margin: 0 0 5px;
}

ol {
  margin: 0;
  padding: 0 0 0 16px;
}

ol > li {
  margin-bottom: 6px;
}